/* Copy your CSS code from CodePen below this point */
body{
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

.top-nav ul{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px 0;
  max-width: 3000px;
  width: 100%;
  color: white;
  background-color: brown;
  list-style: none;
  font-size: 12px;
}

.MENU-ul{
  margin: 0 10px;
  padding: 0 10px;
  max-width: 10px;
  width: 100%;
  color: white;
}

.HOURS-ul{
  margin: 0 10px;
  padding: 0 10px;
  max-width: 10px;
  width: 100%;
  color: white;
}

.ABOUT-ul{
  margin: 0 10px;
  padding: 0 10px;
  max-width: 10px;
  width: 100%;
  color: white;
}

.LOCATION-ul{
  margin: 0 10px;
  padding: 0 10px;
  max-width: 10px;
  width: 100%;
  color: white;
}

.hero-container{
  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    
    url(https://drive.google.com/uc?export=view&id=1KVDapld513gDp4XOaLft0qfmeyxhszdV);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top-right;
  padding: 75px 15px 150px 15px;
  background-attachment: fixed;
  text-align: center;
}

.hero-container .hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container h1{
  color: white;
}

.hero-container .FibLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  text-decoration: none;
  max-height: 100%;
  max-width: 100%;
  height: 190px;
  width: 150px;
/*   border-radius: 50% */
  margin: 0 auto;
  padding-top: 30px;
  object-fit: cover;
  background-color: transparent;
}

/* Start New Edit For Scroll Fade Functioning  */

/* .FibLogo{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.Fiblogo.appear{
  opacity: 1;
}
 */
/*End New Edit For Scroll Fade Functioning  */

.aboutus-section{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 250px;
  padding-right: 250px;
  background-color: wheat;
  color: brown;
}

.about-img{
  display: inline-block;
  max-width: 50%;
  margin: 0 auto;
  padding: 30px 5px 20px 5px;
}

.aboutus-section .aboutus-text{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 30px 5px 20px 5px;
  margin: 0 auto;
  font-weight: 900;
}

/* .about-p1{
  padding: 2px 2px 2px 2px;
  margin: 0 auto;
}

.about-p2{
  padding: 2px 2px 2px 2px;
  margin: 0 auto;
}

.about-p3{
  padding: 2px 2px 2px 2px;
  margin: 0 auto;
} */

.aboutus-section .aboutus-text .about-img{
  max-width: 1000px;
  width: 100%;
  margin: 0 0 20px;
}

/* Start Menu Section */
.menu-section{
  padding: 0 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* display: flex;
  max-width: 1000px;
  width: 800px;
  height: 800px;
  padding: 0px 300px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto; */
}

.menu-section .menuFile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}


.menu-section .wraps .sides-div{
  max-width: 1000px;
}

.menu-section .wraps{
  display: inline-block;
  /* flex-direction: column; */
  width: 40%;
  /* float: left; */
}

.menu-section .sides-div{
  display: inline-block;
  /* flex-direction: column; */
  width: 40%;
}

.menu-section h2{
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: Brown;
  font-weight: 1000;
}

.menu-section h3{
  line-height: 30px;
  padding: 30px;
  margin: 0 auto;
  color: Black;
  font-weight: 900;
}

.menu-section h4{
  padding: 0px;
  margin: 0 auto;
  color: Brown;
  line-height: 10px;
  font-weight: 900;
}
  
.sides-div h3{
  color: Black;
  font-size: 20.8px;
}
/* End Menu Section */


.FibLogo{
  display: none;
}

/* .menu-section{
  display: none;
} */

.mathfav-section{
  
  display: block;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding: 0px 300px 0px 300px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: brown;
  color: white;
}

.mathfav-section h2{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.mathfav-section p{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px 100px 40px 100px;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
}

.flex-container .dish-1{
  display: flex;
  /* padding-right: 8px;
  padding-left: 8x; */
}

.flex-container .dish-2{
  display: flex;
  /* padding-right: 8px;
  padding-left: 8px; */
}

.flex-container .dish-3{
  display: flex;
  /* padding-right: 8px;
  padding-left: 8px; */
}

.locationhours-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  width: 900%;
  color: brown;
  margin: 0 auto;
  padding: 25px 0px 40px 0px;
}

.location-photo{
  width: 100%;
  max-width: 450px;
  margin: 0 0 0;
}

.location-hours{
  width: 100%;
  max-width: 400px;
  margin: 0 0 0;
  background-color: wheat;
  padding: 31px 32px 30px 18px;
}

.hours{
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.locationhours-section .hours li span{
  display: inline-block;
  width: 92px;
}

.fib-wiki{
  display: none;
}

.footer{
  background-color: peru;
  padding: 30px 0px 10px 0px;
  margin: 0;
}

.footer-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer-flex a{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: white;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.footer-facebook{
  width: 30px;
  padding: 0 10px;
  border-radius: 20px;
}

.footer-instagram{
  width: 30px;
  padding: 0 10px;
}

.footer-x{
  width: 30px;
  padding: 0 10px;
}

#footer-copyrights{
  color: brown;
  text-align: center;
}